@import url("./font.css");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* custom styles */

body {
  overflow-x: hidden !important;
}

.css-1wkwmmc > .MuiGrid-item {
  max-width: 100% !important;
}

.css-10mg1vw-MuiStepper-root {
  direction: rtl !important;
}

.css-zpcwqm-MuiStepConnector-root {
  right: calc(-50% + 20px) !important;
  left: calc(50% + 20px) !important;
}

.title-fantasy {
  font-family: Bold_Title !important;
  font-weight: bold !important;
  color: #fefefe;
}

.title-normal {
  font-family: Content_Normal !important;
  font-weight: bold !important;
  color: #fefefe;
}

.subtitle-normal {
  font-family: Content_Normal !important;
  font-weight: bold !important;
  color: #fefefe;
  margin-bottom: 0.5rem !important;
  margin-top: 0.5rem !important;
  font-size: 1.35rem !important;
}

.caption {
  font-family: Content_Normal !important;
  margin-bottom: 0.5rem;
  color: #fefefe !important;
}

.item {
  color: #fefefe !important;
  text-decoration: none !important;
  font-family: Content_Normal !important;
  font-size: .95rem !important;
}

.link {
  color: #fefefe !important;
  text-decoration: none !important;
  font-family: Content_Normal !important;
}

.silver-color{
  color: #999999 !important;
}

.text-2{
  font-size: 1rem !important;
}

.text-2-title{
  font-size: 3rem !important;
}