@font-face {
	font-family: Bold_Title;
	font-style: normal;
	font-weight: bold;
	src: url('../../assets/fonts/Ghaf-Bold.otf');
}

@font-face {
	font-family: Content_Normal;
	font-style: normal;
	font-weight: normal;
	src: url('../../assets/fonts/Tiam-Brush.otf');
}

@font-face {
	font-family: Content_Regular;
	font-style: normal;
	font-weight: 500;
	src: url('../../assets/fonts/Dubai-Regular.otf');
}