@import url("../../../app/styles/font.css");

.userComment {
    width: 16rem;
    height: 20rem;
    background-color: rgba(100, 100, 100, 0.8);
    border-radius: 0.8rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.userComment .ghostComment {
    width: 7rem;
    height: 7rem;
}

.userComment .commentName {
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
    direction: rtl;
    color: #252525 !important;
}

.userComment .commentMessage {
    direction: rtl;
    text-align: center;
}

.ratingEl{
    flex-direction: row-reverse !important;
}