@import url("../../../app/styles/font.css");

.reservationBox {
    height: 3rem;
    width: 14rem;
    box-sizing: border-box;
    background-color: rgba(130, 130, 130, 0.7);
    font-family: Dubai_Regular !important;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.35);
    border-radius: 0.3rem;
    position: relative;
}

.reservationBoxHover:hover {
    box-shadow: 0px 0px 7px 7px rgba(0, 0, 0, 0.35);
    cursor: pointer;
}

.reserveSteps {
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: 1s opacity, 1s visibility;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
