@import url("../../../app/styles/Font.css");

/* section 1 */

.corridorImg {
    cursor: none;
    --cursorX: 50vw;
    --cursorY: 50vh;
    height: 100vh;
}

.corridorImg:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    background: radial-gradient(
        circle 6vmax at var(--cursorX) var(--cursorY),
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.3) 80%,
        rgba(0, 0, 0, 0.94) 100%
    );
}

.gameTitle {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    color: #fefefe;
    padding: 3rem;
}

.gameTitleBox {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gameTitle .persianTitle {
    font-family: Dubai_Bold !important;
    font-weight: 900 !important;
    font-size: 2rem;
}

.englishTitle {
    line-height: 1;
    text-transform: uppercase;
    font-weight: 900 !important;
    font-family: "Work Sans", sans-serif !important;
    position: absolute;
    font-size: 3rem;
    top: 0;
    left: 50%;
    transform: translate(-50%, -15%);
    color: rgba(255, 255, 255, 0.2);
}

.gameTitle .persianTitle2 {
    font-size: 1.3rem;
}

.sectionBoxImage {
    height: 100%;
    width: 100%;
}

/* section 1 */
/*section 2 */

.aboutGame {
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(93.4deg, #242946 16.97%, #131522 86.4%);
}

.blubBackground {
    position: absolute;
    top: 0;
    left: -2rem;
}

.gameCoverSVG {
    position: absolute;
    top: 52.5%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.blubCoverGame {
    filter: drop-shadow(5.6px 21.2px 11.2px hsl(0deg, 0%, 0% / 0.33));
}

.aboutGameBox {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.senario {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(180, 180, 180, 0.2) !important;
    border-radius: 1rem !important;
    position: relative;
    padding: 1rem 2rem 2rem 2rem;
    max-width: 30rem;
    font-family: Dubai_Regular !important;
    text-align: justify;
    direction: rtl;
}

.senarioLogo {
    line-height: 1;
    text-transform: uppercase;
    font-weight: 900 !important;
    font-family: "Work Sans", sans-serif !important;
    position: absolute;
    font-size: 3rem;
    left: 50%;
    transform: translate(-50%, 30%);
    color: rgba(255, 255, 255, 0.1);
}

.senario h1 {
    font-family: Dubai_Bold !important;
    z-index: 2;
}

.infoGame {
    width: 30rem;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
}

.hardshipLevel,
.fearLevel {
    display: flex;
    flex-direction: column;
    font-family: Dubai_Bold !important;
    position: relative;
    direction: rtl;
}

.levelIcon {
    position: absolute;
    width: 3.5rem;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.levelPercent {
    color: #fefefe;
}

/* section 2 */
/* section 3 */

.gmaeLocation {
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(93.4deg, #242946 16.97%, #131522 86.4%);
}

.blubBackgrounButton {
    position: absolute;
    transform: rotate(180deg);
    bottom: 0;
    right: -2rem;
}

.locationImage {
    position: absolute;
    width: 40rem;
    bottom: 0%;
    right: 0%;
    transform: translate(-7%, -7%);
    // animation: scroll 5s infinite alternate;
    @keyframes scroll {
        0% {
            transform: rotate(3deg);
        }
        50% {
            transform: rotate(-3deg);
        }
        100% {
            transform: rotate(3deg);
        }
    }
}

.loactionGameBox {
    position: absolute;
    top: 2rem;
    left: 2rem;
    min-width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.location {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(180, 180, 180, 0.2) !important;
    border-radius: 1rem !important;
    position: relative;
    padding: 1rem 2rem 2rem 2rem;
    min-width: 30rem;
    font-family: Dubai_Regular !important;
    text-align: justify;
    direction: rtl;
}

.locationLogo {
    line-height: 1;
    text-transform: uppercase;
    font-weight: 900 !important;
    font-family: "Work Sans", sans-serif !important;
    position: absolute;
    font-size: 3rem;
    left: 50%;
    transform: translate(-50%, 30%);
    color: rgba(255, 255, 255, 0.1);
}

.location span {
    display: flex;
    flex-direction: row;
    align-items: center;
    direction: rtl;
}

.locationIcon {
    width: 3rem;
    margin-left: 1rem;
}

/* section 3 */
/* section 4 */

.reservation {
    background-image: url("../../../assets/images/reservationBG.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* section 4 */
/* section 5 */

.commentsBg {
    background-image: url("../../../assets/images/commnetsBg.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.commentsTitleBox {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 10%);
}

.commentsLogo {
    line-height: 1;
    text-transform: uppercase;
    font-weight: 900 !important;
    font-family: "Work Sans", sans-serif !important;
    position: absolute;
    font-size: 3rem;
    left: 50%;
    transform: translate(-50%, 15%);
    color: rgba(255, 255, 255, 0.1);
}

.commentsTitle {
    font-family: Dubai_Bold !important;
    color: #fefefe;
}

.addCommentButton {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -30%);
    font-family: Dubai_Regular !important;
}

/* comments 5 */
