.footeerContainer {
    width: 100%;
    min-height: 75vh;
    overflow: hidden;
    box-sizing: border-box;
    background: #050505;
    position: relative;
}

.footerItemBox {
    display: flex;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    width: 100%;
    position: relative;
}

.menuBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.menuTitle {
    font-size: 1.3rem;
    text-align: center;
    color: #999999;
}

.menuUl {
    direction: rtl;
    text-align: right;
    margin: unset !important;
}

.menuItem {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    list-style: none;
    width: fit-content;
}

.menuLink::after {
    content: "";
    display: block;
    height: 1px;
    background: #fefefe;
    transform: scaleX(0);
    transition: 0.5s;
    margin-top: 0.4rem;
}

.menuLink:hover::after {
    transform: scaleX(1);
}

.horizontalDivider {
    margin-bottom: 0.75rem !important;
    border-color: #fefefe !important;
}

.magicBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.ball {
    animation: float 3.5s ease-in-out infinite;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: relative;
    box-shadow: inset 0 0 20px #404040, inset 10px 0 46px #555555, inset 88px 0px 60px #999999,
        inset -20px -60px 100px #fefefe, inset 0px 50px 140px #ffffff, 0 0 75px #fff;
}

.logoImage {
    position: absolute;
    height: 125px;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-75px);
    }
    100% {
        transform: translateY(0px);
    }
}

.shadow {
    background: #999999;
    width: 150px;
    height: 40px;
    top: 70%;
    animation: expand 4s infinite;
    position: absolute;
    border-radius: 50%;
}

@keyframes expand {
    0%,
    100% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1);
    }
}

.copyrightBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5%;
}

.newsletterBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputBox {
    display: flex;
    flex-direction: column;
}

.inputIconBox {
    display: flex;
    align-items: center;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.submitButton {
    color: #999999 !important;
}

.textField label {
    color: #999999 !important;
}

.textField div::before {
    border-color: #999999 !important;
}

.textField div:hover:before {
    border-color: #fefefe !important;
    border-width: 2px;
}

.textField div input {
    color: #999999 !important;
}

.textField div input::after {
    border-color: #242946 !important;
}

@media screen and (max-width: 900px) {
    .shadow {
        top: 95%;
    }
    .copyrightBox {
        position: relative;
        margin-top: 4rem;
    }
}
