@import url("../../../app/styles/font.css");

html {
    scroll-behavior: smooth;
}

/* animation button */

.button {
    color: #fff;
    border-radius: 0.5rem;
    background: rgba(0, 0, 0, 0.2);
    outline: none;
    border: 0;
    padding: 0.7rem 2.5rem;
    overflow: hidden;
    transition: all 0.5s;
    font-family: Content_Regular !important;
    position: relative;
    margin-top: 2rem;
    text-decoration: none;
}

.button:hover {
    cursor: pointer;
    box-shadow: 0px 1px 8px rgba(180, 180, 180, $alpha: 0.6);
}

.button:hover::before {
    opacity: 1;
    transform: translate(-45%, 0);
}

.button::before {
    content: attr(data-hover);
    position: absolute;
    top: 0.7em;
    left: 0;
    width: 100%;
    font-weight: 800;
    font-size: 1rem;
    opacity: 0;
    transform: translate(-100%, 0);
    transition: all 0.3s ease-in-out;
}

.button div {
    font-weight: 800;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
}

.button:hover div {
    opacity: 0;
    transform: translate(100%, 0);
}

/* animation button */

/* border button */

.BorderButton {
    display: inline-block;
    position: relative;
    border: none;
    color: #f4e8eb;
    font-size: 1.1rem;
    cursor: pointer;
    background: rgba(150, 150, 150, 0.3);
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.35);
    text-decoration: none !important;
}

.BorderButton::after,
.BorderButton::before {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    transition: all 0.2s linear;
    background: rgba(180, 180, 180, 0.8);
}

.BorderButton:hover::before,
.BorderButton:hover::after {
    width: 100%;
}

.BorderButton::after {
    right: 0;
    bottom: 0;
    transition-duration: 0.4s;
}

.BorderButton::before {
    left: 0;
    top: 0;
    transition-duration: 0.4s;
}

.BorderButton span {
    display: block;
    padding: 1rem 3rem;
}

.BorderButton span::before,
.BorderButton span::after {
    content: "";
    width: 2px;
    height: 0;
    position: absolute;
    transition: all 0.2s linear;
    background: rgba(180, 180, 180, 0.8);
}

.BorderButton:hover span::before,
.BorderButton:hover span::after {
    height: 100%;
}

.BorderButton span::after {
    right: 0;
    bottom: 0;
    transition-duration: 0.4s;
}

.BorderButton span::before {
    left: 0;
    top: 0;
    transition-duration: 0.4s;
}

/*border button */


.buttonText{
    padding: 1rem 2rem !important;
}